{
  "name": "music_hook_host",
  "description": "MusicHook native messaging host (DEV)",
  "path": "__MUSIC_HOOK_HOST_PATH__",
  "type": "stdio",
  "allowed_extensions": [
    "@music-hook-dev.automatacrypt"
  ]
}
